.AboutPage
{
  opacity: 0;
  animation: fadeIn .3s ease forwards;
  cursor: default;
  .ImageSection
  {
    //margin-top: 4.5rem;
    margin-bottom: 4.5rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 2.5rem;

    .image-content
    {
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 3rem;
      width: 100%;
    }

    .about-info
    {
      flex: 1;
    }

    .about-text
    {
      font-size: 1.6rem;
      width: 100%;
    }

    .about-img-wrapper
    {
      flex: 0 0 20rem;
      max-width: 18rem;
      width: 100%;
      border-radius: 10px;
      overflow: hidden;
      box-shadow: var(--card-shadow);
    }

    .about-img
    {
      width: 100%;
      height: auto;
      object-fit: cover;
      display: block;
    }

    @media screen and (max-width: 900px)
    {
      .image-content
      {
        flex-direction: column;
        align-items: flex-start;
      }

      .about-img-wrapper
      {
        max-width: 18rem;
      }
    }


  }

  .download-link
  {
    align-self: flex-start;
    text-decoration: none;
  }

  .btn
  {
    padding: 1rem 2rem;
    background-color: var(--main-color-hover);
    box-shadow: var(--card-shadow);
    border: none;
    outline: none;
    font-family: inherit;
    font-size: inherit;
    color: inherit;
    text-transform: uppercase;
    cursor: pointer;
    letter-spacing: 2px;
    margin-top: .5rem;
    position: relative;
    transition: all .3s ease-in-out;
    &::after
    {
      position: absolute;
      content: "";
      width: 0;
      height: .3rem;
      left: 0;
      bottom: 0;
      background-color: var(--font-color2);
      transition: all .3s ease-in-out;
    }
    &:hover::after
    {
      width: 100%;
    }
    &:active::after
    {
      width: 100%;
    }
    &:focus::after
    {
      width: 100%;
    }
    &:hover
    {
      background-color: var(--main-color);
    }
  }

  .skills-group
  {
    margin-top: 4rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 3rem;
    row-gap: 3rem;
    transition: all .3s ease-in-out;
    @media screen and (max-width: 1000px){
      grid-template-columns: repeat(1,1fr);
    }
    @media screen and (min-width: 1000px){
      grid-template-columns: repeat(2,1fr);
    }
  }

}
