:root
{
  //--bg: #10121B;
  //--sidebar: #191D2B;
  //--main-blue-color: #247ac1;
  //--main-blue-hover: rgba(36, 122, 193, .2);
  //--main-border-color: #2e344e;
  //--font-color1: white;
  //--font-color2: #a4acc4;

  --bg: #10121B;
  --sidebar: #191D2B;
  --main-color: #80cbc4;
  --main-color-hover: rgba(128, 203, 196, .2);
  --main-border-color: rgba(164, 172, 196, .2);
  --font-color1: white;
  --font-color2: #a4acc4;
  --card-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.17);
  --navbar-collapse: 1500px;

  overflow-x: hidden;
}

@keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

@keyframes fadeOut {
  0% {opacity:1;}
  100% {opacity:0;}
}

@keyframes fadeIO {
  0% {opacity:0;}
  25% {opacity:1;}
  75% {opacity:1;}
  100% {opacity:0;}
}

@keyframes title25 {
  0% {width:0;}
  100% {width:25%;}
}

@keyframes title50 {
  0% {width:0;}
  100% {width:50%;}
}

@keyframes title75 {
  0% {width:0;}
  100% {width:75%;}
}

@keyframes title100 {
  0% {width:0;}
  100% {width:100%;}
}

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body{
  background-color: var(--bg);
  color: var(--font-color2);
  font-family: 'M PLUS Rounded 1c', sans-serif;
  font-size: 1.2rem;

}

body::-webkit-scrollbar
{
  display: none;
  width: 8px;
}

body::-webkit-scrollbar-thumb
{
  background-color: var(--main-color-hover);
  border-radius: 50px;
}

body::-webkit-scrollbar-track
{
  background-color: var(--sidebar);
}

span
{
  color: var(--main-color);
}

a
{
  color: var(--main-color);
  &:visited
  {
    color: var(--main-color);
  }
}


